<div class="cart_section">
    <div class="container">
      <h1>CARRITO</h1>
      <table>
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td><img [src]="item.product.image" alt="Producto"></td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price | currency }}</td>
            <td>
              <button (click)="decreaseQuantity(item.product.id)">-</button>
              {{ item.quantity }}
              <button (click)="increaseQuantity(item.product.id)">+</button>
            </td>
            <td>{{ (isNumeric(item.product.price) && isNumeric(item.quantity)) ? (item.product.price * item.quantity | currency) : 'N/A' }}</td>
            <td>
              <button class="btn btn-remove" (click)="removeItem(item.product.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="total">
        Total: {{ getTotal() | currency }}
      </div>
    </div>
  </div>