<main>
  <section>
    <div class="container-carousel">
      <div class="carruseles" id="slider">
        <section class="slider-section">
          <img src="../../assets/images/SuscribeteCarousel.jpeg" />
        </section>
  
        <section class="slider-section">
          <img src="../../assets/images/SpiderCarousel.jpeg" />
        </section>
  
        <section class="slider-section">
          <img src="../../assets/images/EnviosCarousel.jpeg" />
        </section>
        <section class="slider-section">
          <img src="../../assets/images/CapitanCarousel.jpeg" />
        </section>
      </div>
      <div class="btn-left"><i class="bx bx-chevron-left"></i></div>
      <div class="btn-right"><i class="bx bx-chevron-right"></i></div>
    </div>
  </section>
  <!-- Sección Banner -->
  <section id="banner">
    <div class="container">
      <div class="button-container">
        <div class="button">
          <img src="../../assets/images/delivered.png" alt="Descuentos_Exclusivos" />
        </div>
          <p class="button-text">Envío gratis Córdoba capital</p>
      </div>
      <div class="button-container">
        <div class="button">
          <img src="../../assets/images/wallet.png" alt="Descuentos_Exclusivos" />
        </div>
          <p class="button-text">Todos los medios de pago</p>
      </div>
      <div class="button-container">
        <div class="button">
          <img src="../../assets/images/discount.png" alt="Descuentos_Exclusivos" />
        </div>
          <p class="button-text">Descuentos Exclusivos</p>
      </div>
    </div>
  </section>
  
  <!-- sección reseñas -->
  <section id="reseñas">
    <div class="review-title">
      <h1>Reseñas</h1>
    </div>
  
    <div class="reseña_container">
      <div class="reseña_card">
        <div class="top">
          <img src="../../assets/images/estrella.jpg" alt="estrellas" />
          <p>
            Excelente atención, necesitaba hacer un regalo y me llegaron los
            cómics el mismo día.
          </p>
        </div>
        <div class="bottom">
          <img src="../../assets/images/juan.jpg" alt="User" />
          <h2>JUAN</h2>
        </div>
      </div>
  
      <div class="reseña_card">
        <div class="top">
          <img src="../../assets/images/estrella.jpg" alt="estrellas" />
          <p>
            La selección de cómics es impresionante, ¡nunca dejo de
            sorprenderme con lo que encuentro!
          </p>
        </div>
        <div class="bottom">
          <img src="../../assets/images/Maria.jpg" alt="User" />
          <h2>MARIA</h2>
        </div>
      </div>
  
      <div class="reseña_card">
        <div class="top">
          <img src="../../assets/images/estrella.jpg" alt="estrellas" />
          <p>
            Esta tienda hace que mi niño interior se emocione cada vez que
            entro, ¡es un lugar único y mágico!
          </p>
        </div>
        <div class="bottom">
          <img src="../../assets/images/Pilar.jpg" alt="User" />
          <h2>PILAR</h2>
        </div>
      </div>
  
      <div class="reseña_card">
        <div class="top">
          <img src="../../assets/images/estrella.jpg" alt="estrellas" />
          <p>
            Los empleados son súper amables y conocedores, hacen que cada
            visita sea una experiencia genial.
          </p>
        </div>
        <div class="bottom">
          <img src="../../assets/images/Lautaro.jpg" alt="User" />
          <h2>LAUTARO</h2>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section>
    <app-contact></app-contact>
  </section>
</main>