<section>
    <div class="container-carousel">
      <div class="carruseles" id="slider">
        <section class="slider-section">
          <img src="front/images/SuscribeteCarousel.jpeg" />
        </section>
  
        <section class="slider-section">
          <img src="front/images/SpiderCarousel.jpeg" />
        </section>
  
        <section class="slider-section">
          <img src="front/images/EnviosCarousel.jpeg" />
        </section>
        <section class="slider-section">
          <img src="front/images/CapitanCarousel.jpeg" />
        </section>
      </div>
      <div class="btn-left"><i class="bx bx-chevron-left"></i></div>
      <div class="btn-right"><i class="bx bx-chevron-right"></i></div>
    </div>
  </section>
  <!-- Sección Banner -->
  <section id="banner">
    <div class="container">
      <div class="button">
        <img
          src="front/images/free.png"
          alt="Envío_gratis_Córdoba_capital"
        />
        <p class="button-text">Envío gratis Córdoba capital</p>
      </div>
      <div class="button">
        <img
          src="front/images/tarjetas.png"
          alt="Todos_los_medios_de_pago"
        />
        <p class="button-text">Todos los medios de pago</p>
      </div>
      <div class="button">
        <img src="front/images/30dto.png" alt="Descuentos_Exclusivos" />
        <p class="button-text">Descuentos Exclusivos</p>
      </div>
    </div>
  </section>
  
  <!-- sección reseñas -->
  <section id="reseñas">
    <div class="review-title">
      <h1>Reseñas</h1>
    </div>
  
    <div class="reseña_container">
      <div class="reseña_card">
        <div class="top">
          <img src="front/images/estrella.jpg" alt="estrellas" />
          <p>
            Excelente atención, necesitaba hacer un regalo y me llegaron los
            cómics el mismo día. Muy recomendado.
          </p>
        </div>
        <div class="bottom">
          <img src="front/images/juan.jpg" alt="User" />
          <h2>JUAN</h2>
        </div>
      </div>
  
      <div class="reseña_card">
        <div class="top">
          <img src="front/images/estrella.jpg" alt="estrellas" />
          <p>
            La selección de cómics es impresionante, ¡nunca dejo de
            sorprenderme con lo que encuentro!
          </p>
        </div>
        <div class="bottom">
          <img src="front/images/Maria.jpg" alt="User" />
          <h2>MARIA</h2>
        </div>
      </div>
  
      <div class="reseña_card">
        <div class="top">
          <img src="front/images/estrella.jpg" alt="estrellas" />
          <p>
            Esta tienda hace que mi niño interior se emocione cada vez que
            entro, ¡es un lugar único y mágico!
          </p>
        </div>
        <div class="bottom">
          <img src="front/images/Pilar.jpg" alt="User" />
          <h2>PILAR</h2>
        </div>
      </div>
  
      <div class="reseña_card">
        <div class="top">
          <img src="front/images/estrella.jpg" alt="estrellas" />
          <p>
            Los empleados son súper amables y conocedores, hacen que cada
            visita sea una experiencia genial.
          </p>
        </div>
        <div class="bottom">
          <img src="front/images/Lautaro.jpg" alt="User" />
          <h2>LAUTARO</h2>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
<p>¡La página de inicio funciona!</p>

<!-- Formulario de contacto -->
<section id="form">
  <div class="form_contact__container">
    <div class="item">
      <div class="contact">
        <div class="first_title">
          <h2>Donde encontrarnos</h2>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32392.505862546128!2d-64.19564154332299!3d-31.418458108462413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432985f478f5b69%3A0xb0a24f9a5366b092!2zQ8OzcmRvYmE!5e0!3m2!1ses-419!2sar!4v1664386748040!5m2!1ses-419!2sar"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="contact_info">
          
          <p><i class="fa-solid fa-phone"></i>(351) 43727282</p>
          <p><i class="fa-solid fa-envelope"></i> info&#64;planetsuper.com.ar</p>

        
          <p>
            <i class="fa-solid fa-location-dot"></i>Galería Muñoz-9 de julio
            160
          </p>
        </div>
        <div class="social_links">
          <span class="second_text">Redes Sociales:</span>
          <ul class="social_list">
            <li>
              <a href="https://github.com/Web-Developers2-0/ProyectoIntegrador2">
                <i class="fa-brands fa-square-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/Web-Developers2-0/ProyectoIntegrador23">
                <i class="fa-brands fa-square-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/Web-Developers2-0/ProyectoIntegrador2">
                <i class="fa-brands fa-square-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="submit_form">
        <div class="first_text">Contacto</div>
        <div class="intro_contact_text">
          Si tienes alguna pregunta o sugerencia, no dudes en comunicarte con
          nosotros. Nuestro equipo está aquí para ayudarte y proporcionarte
          cualquier información que necesites.
        </div>
        <form action="">
          <div class="input_box">
            <input
              type="text"
              placeholder="Ingrese su nombre completo"
              style="
                font-size: 15px;
                font-family: 'Patrick Hand', sans-serif;
              "
              required
            />
          </div>
          <div class="input_box">
            <input
              type="email"
              placeholder="Ingrese su email"
              style="
                font-size: 15px;
                font-family: 'Patrick Hand', sans-serif;
              "
              required
            />
          </div>
          <div class="input_text">
            <textarea
              style="font-family: 'Patrick Hand', sans-serif"
              name=""
              id="message"
              cols="30"
              rows="8"
              placeholder="Mensaje"
              required
            ></textarea>
          </div>
          <input class="btn_submit" type="submit" value="Enviar Mensaje" />
        </form>
      </div>
    </div>
  </div>
</section>
