<header>
      <a class="navbar-logo" href="#">
        <img
          class="logo"
          src="../../../assets/images/logo_planet.png"
          alt="Planet_SuperHeroes"
          />
      </a>

    <nav class="navbar">
        <!-- Menu Hamburguesa -->
        <input type="checkbox" id="check" />
        <label for="check">
          <i class="fas fa-bars" id="btn-nav"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <!-- Fin Menu Hamburguesa  -->
        <ul class="nav__links">
   
          <li class="nav-item"
         >
          <a class="nav-link"
          routerLink="/about"
          routerLinkActive="active"
          >¿QUIENES SOMOS?</a>
          </li>


          <li class="nav-item"
          >
           <a class="nav-link"
           *ngIf="isLoggedIn"
           routerLink="/dashboard"
           routerLinkActive="active"
           >MI PERFIL</a>
           </li>
           


          <li class="nav-item"
          >
          <a class="nav-link"
          routerLink="/app-products"
          routerLinkActive="active"
          >PRODUCTOS</a>
          </li>

          <li class="nav-item"
          >
          <a class="nav-link"
          routerLink="/contact"
          routerLinkActive="active"
          >CONTACTO</a>
          </li>

         <!--  <li>
            <a href="#form">CONTACTO</a>
          </li> -->

          <li class="nav-item"
          *ngIf="!isLoggedIn">
          <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          >Iniciar Sesión</a>
          </li>

          <li class="nav-item"
           *ngIf="!isLoggedIn">
           <a class="nav-link"
           routerLink="/register"
           routerLinkActive="active"
           >Registrarse</a>
           </li>

          <li class="nav-item"
          >
          <a class="nav-link"
          routerLink="/cart"
          routerLinkActive="active"
          >CARRITO</a>
          </li>

        </ul>
    </nav>
</header>