@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Hachi+Maru+Pop&family=Patrick+Hand&display=swap');

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url(../assets/fondo2.jpg); */
    background-size: cover;
    background-attachment: fixed;
}

.form_login{
    width: 600px;
    height: fit-content;
    background: #1e1e1e;
    margin: auto;
    box-shadow: 7px 13px 37px #000;
    border-top: 20px solid #9a1515;
    color: #ffffff;
    padding: 1rem;
}

.form_container{
    padding: 10px;
    height: fit-content;
}

.form_login h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Bangers', sans-serif;
    color: #fbf0f0;
    -webkit-text-stroke: 1.2px black;
    text-shadow: #fbf0f0 0 -2px;
}

.form_login h2{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 1.5rem;
    color:#fcd69e ;
}

.controles{
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #fbf0f0;
    font-size: 1.1rem;
    font-weight: bold;
}

.botom{ 
    width: 100%;
    height: 40px;
    background: #e9b0b0;
    border: none;
    color: #1e1e1e;
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.botom:hover{
    background: #c77171;
}
.form_login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
} 
.form_login a {
    color: #fcd69e;
    text-decoration: none;
    font-size: 14px; 
}
.form_login a:hover {
    text-decoration: underline;
}

.go_back{
    text-decoration: none;
    background-color: #008bce;
    color: whitesmoke;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.go_back:hover{
    background-color: #016699;
}

.logo{
    max-height: 100px;
    margin: 0 auto;
    display: block;
}

.form__field{
    overflow: hidden;
}

.ng-invalid:not(form).ng-touched {
    border: solid 2px red;
}

.ng-valid:not(form).ng-touched {
    border: solid 2px rgb(13, 167, 13);
}

.form__field small{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ce2d2d;
    padding: 4px 0;
    margin-bottom: 2px;
}