<!-- footer -->
<footer class="footer" id="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-links">
          <h4>Preguntas frecuentes</h4>
          <ul>
            <li><a class="link-sec" href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Como comprar</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Política de envíos</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Novedades</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Precios mayoristas</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>MEDIOS DE PAGO</h4>
          <ul>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Tarjetas de Crédito</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Tarjetas de Débito</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Transferencias</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Efectivo</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>PLANET SUPERHEROES CENTRO</h4>
          <ul>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Galería Muñoz-9 de julio 160</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">(351) 43727282</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">infoplanetsuper.com.ar</a></li>
            <li><a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023">Lunes a Sábado:10:00 a 18:00</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>SÍGUENOS EN NUESTRAS REDES</h4>
          <div class="social-link">
            <a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023"><i class="fab fa-facebook-f"></i></a>
            <a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/ISPC-Desarrolladores-2-0/PFS-Ecommerce-2023"><i class="fab fa- fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">&copy; Desarrolladores 2.0</div>