<h1>Nuestros Productos</h1>

<!-- Títulos y enlaces para cambiar la categoría -->
<div class="card_section-titulo">
  <button (click)="updateCategory('marvel')">Marvel Comics</button>
  <button (click)="updateCategory('dc')">DC Comics</button>
</div>

<!-- Sección para productos de Marvel -->
<ng-container *ngIf="selectedCategory === 'marvel'">
  <div class="card" *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.description">
    <div class="card-content">
      <h3>${{ product.price }}</h3>
      <h4>{{ product.name }} - {{ product.description }}</h4>
      <button (click)="redirectToDetail(product.detailPath)">Ver Más</button>
    </div>
  </div>
</ng-container>

<!-- Sección para productos de DC -->
<ng-container *ngIf="selectedCategory === 'dc'">
  <div class="card" *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.description">
    <div class="card-content">
      <h3>${{ product.price }}</h3>
      <h4>{{ product.name }} - {{ product.description }}</h4>
      <button (click)="redirectToDetail(product.detailPath)">Ver Más</button>
    </div>
  </div>
</ng-container>



  

  