/* You can add global styles to this file, and also import other style files */

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #09090b;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e5ac57;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #dfa349;
<<<<<<< HEAD
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
  }
>>>>>>> d64e4c1350f3a2d173661f3ab185a374f9c451fd
