<section class="form-register">
    <form id="form" [formGroup]="signupForm" (ngSubmit)="onSubmit($event)"> 
        <div class="title">
            <img src="../../assets/images/logo_planet.png" alt="Logo" class="logo">            
            <h1>PLANET SUPER HEROES</h1>
        </div>
        <h5>Crear nuevo usuario</h5>
        <div class="cotenedor">
            <div class="form__field">
                <input type="text" placeholder="Nombre" formControlName="userName"/>
                <small *ngIf="signupForm.get('userName')?.errors?.['required'] && signupForm.get('userName')?.touched">*El nombre es requerido</small>                
            </div>
            <div class="form__field">
                <input type="text" placeholder="Apellido" formControlName="userSurname"/>
                <small *ngIf="signupForm.get('userName')?.errors?.['required'] && signupForm.get('userSurname')?.touched">*El apellido es requerido</small>                
            </div>

            <div class="form__field">
                <input type="email" placeholder="Email" formControlName="email"/>
                <small *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched">*Email es requerido</small>
                <small *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched">*Email no es válido</small>
            </div>

            <div class="form__field">
                <input type="text" placeholder="Teléfono" formControlName="phone"/>
                <small *ngIf="signupForm.get('phone')?.errors?.['required'] && signupForm.get('phone')?.touched">*Teléfono es requerido</small>
            </div>

            <div class="form__field">
                <input type="text" placeholder="Dirección" formControlName="address"/>
                <small *ngIf="signupForm.get('address')?.errors?.['required'] && signupForm.get('address')?.touched">*Dirección es requerida</small>
            </div>

            <div class="form__field">
                <input type="password" placeholder="Contraseña" formControlName="password"/>
                <small *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched">*Contraseña es requerida</small>
                <small *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched">*Contraseña debe tener al menos 8 caracteres</small>
            </div>

            <div class="form__field">
                <input type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword"/>
                <small *ngIf="signupForm.get('confirmPassword')?.errors?.['required'] && signupForm.get('confirmPassword')?.touched">*Confirmar contraseña es requerido</small>
            </div>
            <div>
                <button class="btnSignUp" type="submit" [disabled]="!signupForm.valid">Registrarse</button>
            </div>         
                                            
            <p>
                ¿Ya tienes una cuenta? <a class="link" routerLink="/login" routerLinkActive="active"> Inicia Sesión</a>
            </p>
        </div>        
    </form>
</section>